$BLACK1: #000000;
$BLACK2: #1a1b1d;

$WHITE0: #FFFFFF;
$WHITE1: #f7f6f6;
$WHITE2: #e6e6e6;
$WHITE3: #d1d1d1;
$WHITE4: #cccbcb;

$ORANGE0: #BF360C;
$ORANGE1: #D84315;
$ORANGE2: #E64A19;
$ORANGE3: #F4511E;
$ORANGE4: #FF5722;
$ORANGE5: #FF7043;
$ORANGE6: #FF8A65;
$ORANGE7: #FFAB91;
$ORANGE8: #FFCCBC;
$ORANGE9: #FBE9E7;

$RED9: #FFEBEE;
$RED8: #FFCDD2;
$RED7: #EF9A9A;
$RED6: #E57373;
$RED5: #EF5350;
$RED4: #F44336;
$RED3: #E53935;
$RED2: #D32F2F;
$RED1: #C62828;
$RED0: #B71C1C;

$BLUE0: #0D47A1;
$BLUE1: #1565C0;
$BLUE2: #1976D2;
$BLUE3: #1E88E5;
$BLUE4: #2196F3;
$BLUE5: #42A5F5;
$BLUE6: #64B5F6;
$BLUE7: #90CAF9;
$BLUE8: #BBDEFB;
$BLUE9: #E3F2FD;

$GREEN9: #E0F2F1;
$GREEN8: #B2DFDB;
$GREEN7: #80CBC4;
$GREEN6: #4DB6AC;
$GREEN5: #26A69A;
$GREEN4: #009688;
$GREEN3: #00897B;
$GREEN2: #00796B;
$GREEN1: #00695C;
$GREEN0: #004D40;

$GRAY0: #212121;
$GRAY1: #424242;
$GRAY2: #616161;
$GRAY3: #757575;
$GRAY4: #9E9E9E;
$GRAY5: #BDBDBD;
$GRAY6: #E0E0E0;
$GRAY7: #EEEEEE;
$GRAY8: #F5F5F5;
$GRAY9: #FAFAFA;

$YELLOW0: #FFEB3B;
$YELLOW1: #FFEE58;
$YELLOW2: #FFF176;
$YELLOW3: #FFF176;
$YELLOW4: #FFF9C4;
$YELLOW5: #FFFDE7;

$PURPLE9: #F3E5F5;
$PURPLE8: #E1BEE7;
$PURPLE7: #CE93D8;
$PURPLE6: #BA68C8;
$PURPLE5: #AB47BC;
$PURPLE4: #9C27B0;
$PURPLE3: #8E24AA;
$PURPLE2: #7B1FA2;
$PURPLE1: #6A1B9A;
$PURPLE0: #4A148C;

$PINK9: #FCE4EC;
$PINK8: #F8BBD0;
$PINK7: #F48FB1;
$PINK6: #F06292;
$PINK5: #EC407A;
$PINK4: #E91E63;
$PINK3: #D81B60;
$PINK2: #C2185B;
$PINK1: #AD1457;
$PINK0: #880E4F;

$BROWN9: #EFEBE9;
$BROWN8: #D7CCC8;
$BROWN7: #BCAAA4;
$BROWN6: #A1887F;
$BROWN5: #8D6E63;
$BROWN4: #795548;
$BROWN3: #6D4C41;
$BROWN2: #5D4037;
$BROWN1: #4E342E;
$BROWN0: #3E2723;